@model OAuthTest.Students.Models.StudentsViewModel
@{
    ViewData["Title"] = "Students List";
}
<h1>@ViewData["Title"]</h1>
@foreach (var item in Model.Students)
{
    <p>@item</p>
}

<a class="nav-link" asp-area="" asp-controller="Home" asp-action="AdminStudents">Admin View</a>

<h2>Current Logged In User</h2>
<table>
    <tr>
        <td>First Name</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Surname</td>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>@Model.StreetAddress</td>
    </tr>
    <tr>
        <td>Role</td>
        <td>@Model.Role</td>
    </tr>
</table>